**/bin/
**/out/
**/output/
**/target/
**/logs/
*.class
**/gen-java
**/.classpath
**/.project
**/.settings/
**/coverage-report/
**/metadata/
.project
.settings/
.metadata/
.gradle/
.idea/
logs/
*.iml
*.ipr
*.iws
**/.idea/
**/.DS_Store
**/gen-java
**/build/
gradlew*


