<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true">
    <Properties>
        <Property name="LOG_HOME">${sys:user.home}/logs/centaur/centaur-core</Property>
        <Property name="ENCODING">utf-8</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE-LOG" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>

        <RollingRandomAccessFile name="BUSINESS-LOG" fileName="${LOG_HOME}/business.log"
                                 filePattern="${LOG_HOME}/business.log.%d{yyyyMMddHH}">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <asyncLogger name="mylog" level="info" additivity="false">
            <AppenderRef ref="CONSOLE-LOG" />
            <AppenderRef ref="BUSINESS-LOG" />
        </asyncLogger>
        <asyncRoot level="info">
            <AppenderRef ref="CONSOLE-LOG" />
            <AppenderRef ref="BUSINESS-LOG" />
        </asyncRoot>
    </Loggers>

</Configuration>
